@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a {
    color: inherit;
    text-decoration:none;
}
input:focus {
    outline: none; 
    
}
.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 77px;
    z-index: 100;
    padding: 0 20px;
    background: #83B271;
    top: 0;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.hed {
    display: flex;
    max-width: 1440px;
    width: 100%;
    align-items: center;
}
.voltar {
    position: relative;
    margin-left: 3%;
    font-size: 35px;
    color: #fff;
}
.logo {
    margin-top: 0.7%;
    margin-left: 13%;
    display: flex;
    width: 167.961px;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}
.textum {
    position: absolute;
    right: 10%;
    top: 20%;
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}
.formulario {
    display: flex;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 101;
}
.form {
    display: flex;
    flex-direction: column;
}
.box {
    display: flex;
    width: 649px;
    
}
.box_left {
    display: flex;
    max-width: 304px;
    width: 100%;
    flex-direction: column;
}
.box_center {
    margin-left: 2%;
}
.box_right {
    margin-left: 2%;
}
.input_nome,
.input_descricao,
.input_preco,
.input_date,
.input_quanti {
    display: flex;
    position: relative;
    flex-direction: column;
}
.input_nome input {
    width: 304px;
    height: 40px;
    border: none;
    border-radius: 24px;
    background: #D9D9D9;
    padding-left: 14px;
}
.input_descricao textarea {
    width: 304px;
    height: 112px;
    border: none;
    border-radius: 24px;
    background: #D9D9D9;
    padding-left: 14px;
    padding-right: 10px;
    padding-top: 10px;
}
.input_preco input {
    width: 125px;
    height: 40px;
    border: none;
    border-radius: 24px;
    background: #D9D9D9;
    padding-left: 14px;
    padding-right: 10px;
}
.input_date input {
    width: 125px;
    height: 40px;
    border: none;
    border-radius: 24px;
    background: #D9D9D9;
    padding-left: 14px;
    padding-right: 10px;
}
.input_quanti input {
    width: 172px;
    height: 40px;
    border: none;
    border-radius: 24px;
    background: #D9D9D9;
    padding-left: 14px;
    padding-right: 10px;
    margin-bottom: 8%;
}
.input_cat {
    width: 172px;
    height: 40px;
    border: none;
    border-radius: 24px;
    background: #D9D9D9;
    padding-left: 5px;
    padding-right: 10px;
    
}

.button {
    width: 649px;
    height: 40px;
    border: none;
    border-radius: 24px;
    background: #656565;

}

/* estilo do quadrado da imagem inserida */



.imagem-preview {
    max-width: 200px; 
    max-height: 200px; 
    border: 1px solid #ccc; 
    margin-top: 10px; 
    overflow: hidden; 
}

.imagem-preview img {
    width: 100%; 
    height: auto; 
    display: block; 
}
