
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    overflow-x: hidden; 
    padding: 0;
    margin: 0;
    

}

.none {
    text-decoration: none;
    color: #000;
}

.header1 {
    display: flex;
    width: 100%;
    height: 77px;
    background: #F7F7F7;
    border-bottom: 1px solid black;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}

.logo {
    display: flex;
    position: relative;
    width: 56px;
    height: 45px;
    margin-top: 16px;
    margin-left: 256px;
    margin-right: 30px;
}

.option {
    display: flex;
    display: inline;
    margin-top: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.leftheader1 {
    display: flex;
    gap: 32px;
    
}

.rightheader1 {
    display: flex;
    margin-left: 286px;
}

.search {
    display: flex;
    background: #aaaaaa;
    width: 175px;
    height: 77px;
    cursor: pointer;
}

.lupa {
    width: 24px;
    height: 24px;
    margin-left: 32px;
    margin-top: 26px;
}

.pesquisar_text {
    margin-top: 26px;
    margin-left: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

.carrinho {
    width: 24px;
    height: 24px;
    margin-top: 28px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.log_user {
    display: flex;
    cursor: pointer;
}

.log_text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 8px;
    margin-top: 28px;
}

.user {
    width: 24px;
    height: 24px;
    margin-top: 28px;
    
}

.header2 {
    display: flex;
    margin-top: 16px;
    width: 100%;
    height: 56px;
    background: #83B271;
    justify-content: center;
    margin-bottom: 40px;
    
}


.menu {
    display: flex;
    gap: 2;
}


.opmenu {
    display: flex;
    margin-left: 22px;
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 600;
}


.retangle {
    margin-top: 40px;
}


.footer {
    background: #83B271;
    width: 100%;
    height: 409px;
}

.logo_footer {
    margin-left: 150px;
    margin-top: 77px;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    overflow: hidden;

}

.slides {
    width: 400%;
    width: 400%;
    display: flex;
    transition: margin-left 3s
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 100%;
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #83B271;
}



#radio:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left:-25%;
}

#radio3:checked ~ .first{
    margin-left:-50%;
}

#radio4:checked ~ .first{
    margin-left:-75%;
}

.navigation-auto div{
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 28%;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .autobtn1{
    background-color: #83B271;
}

#radio2:checked ~ .navigation-auto .autobtn2{
    background-color: #83B271;
}

#radio3:checked ~ .navigation-auto .autobtn3{
    background-color: #83B271;
}

#radio4:checked ~ .navigation-auto .autobtn4{
    background-color: #83B271;
}


