
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    overflow-x: hidden; 
    padding: 0;
    margin: 0;

}
.a{
    color: inherit;
    text-decoration: none;
}
.none {
    text-decoration: none;
    color: #000;
}

.header1 {
    display: flex;
    width: 100%;
    height: 77px;
    background: #F7F7F7;
    border-bottom: 1px solid black;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}

.logo {
    display: flex;
    position: relative;
    width: 56px;
    height: 45px;


}

.option{
    display: flex;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.option:hover {
    color: gray;
}

.leftheader1 {
    position: absolute;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    left: 3%;
    padding-top: 1%;
}

.rightheader1 {
    display: flex;
    position: absolute;
    margin-left: 286px;
    right: 3%; 
    align-items: center;
    justify-content: center;
    padding-top: 1.8%;
}
.pesq {
    position: relative;
    display: flex;
    width: 54px;
    right: 70%;
    z-index: 104;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #aaaaaa;
    border-radius: 0px 24px 24px 0px;
    cursor: pointer;
    margin-left: 328%;
}

.lupa {
    width: 20px;
    height: 20px;
    margin-top: 15%;
    margin-left: 13%;
}
.camp_search {
    max-width: 30px;
    width: 100%;
   
}

.camp_search input {
    width: 177px;
    height: 30px;
    border: none;
    border-radius: 24px 0px 0px 24px;
    background: #D9D9D9;
    padding-left: 14px;
    left: 0%;
}

.carrinho {
    width: 24px;
    height: 24px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.log_user {
    display: flex;

}

.log_text {
    display: flex;
    align-items: center; 
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: #000;
}
.log_text:hover {
    color: gray;
}

.log_text img {
    margin-right: 8px;
}

.user {
    display: flex;
    width: 24px;
    height: 24px;
}

.header2 {
    display: flex;
    margin-top: 16px;
    width: 100%;
    height: 56px;
    background: #83B271;
    justify-content: center;
    margin-bottom: 40px;
    
}


.menu {
    display: flex;
    gap: 2;
}


.opmenu {
    display: flex;
    margin-left: 22px;
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 600;
}


.opmenu:hover{
    color: #d3d2d2;
}

.retangle {
    margin-top: 40px;
}


.footer {
    background: #83B271;
    width: 100%;
    height: 409px;
}

.logo_footer {
    margin-left: 150px;
    margin-top: 77px;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    overflow: hidden;

}

.slides {
    width: 400%;
    width: 400%;
    display: flex;
    transition: margin-left 3s
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img{
    width: 100%;
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #83B271;
}



#radio:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left:-25%;
}

#radio3:checked ~ .first{
    margin-left:-50%;
}

#radio4:checked ~ .first{
    margin-left:-75%;
}

.navigation-auto div{
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 28%;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .autobtn1{
    background-color: #83B271;
}

#radio2:checked ~ .navigation-auto .autobtn2{
    background-color: #83B271;
}

#radio3:checked ~ .navigation-auto .autobtn3{
    background-color: #83B271;
}

#radio4:checked ~ .navigation-auto .autobtn4{
    background-color: #83B271;
}


.dropdown { 
    position: absolute;
    display: none;
    right: -1%;
    top: 140%;
    background-color: #D9D9D9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 101;
}

.dropdown a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown a img {
    margin-right: 8px;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}


/* css dos cards a baixo */

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.card-produto{
    width: 250px;
    height: 300px;
    border-radius: 15px;
    
    box-shadow: 7px 7px 15px 7px #0000002d;
    margin: 20px 10px;
    background-color: #83B271;
}

.card-prod-imagem{
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background-color: #ffffff;
    overflow: hidden;  
}

.card-prod-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.card-prod-titulo{
    height: 10%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-top: 2%;
}

.card-prod-periodo{
    height: 10%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.card-prod-valor{
    height: 10%;
    padding-left: 10px;
}

.card-prod-add{
    height: 16.5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
}

.card-prod-add button{
    padding: 10px 40px 10px 15px;
    border-radius: 100px;
    border: none;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 #11101012;
    margin-right: 10px;
}

.card-prod-add i{
    padding: 8px;
    background-color: #ff5500;
    color: #FDFBFB;
    border-radius: 100px;
    position: absolute;
    right: 3px;
}
.car {
    position: absolute;
    margin-left: 55%;
    width: 20px;
    height: 20px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.carrinho-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.carrinho-titulo-text {
    width: 260px;
    height: 40px;
    border-radius: 9px;
    background: #83B271;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.button-finalizar-compra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-finalizar-compra a {
    position: fixed;
    bottom: 3%;
    right: 5%;
    width: 150px;
    height: 35px;
    border-radius: 9px;
    display: flex;
    align-items: center;  
    justify-content: center;
    background-color: #ff5500;
    ;
    text-decoration: none;
    color: white;
}


/* Fim do estilo dos cards */