@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    justify-content: center;
    align-items: center;
}



input:focus {
    outline: none; 
    color: #FFF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: auto;
    height: 100vh;
}

.box {
    width: 468px;
    height: 488px;
    border-radius: 24px;
    border: 1px solid #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.28);
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(4px);
}

.box2 {
    width: 388px;
    height: 424px;
}

.line1{
    display: flex;
    gap: 323px;
}

.line2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 79px;
}

.text_line2 {
    display: flex;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}

.box_buttons {
    display: flex;
    gap: 13px;
}
.Login{
    display: flex;
    width: 51px;
    height: 40px;
    margin-left: 13px;
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.20);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.text_buttons {
    display: flex;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    
}

.Registro {
    display: flex;
    width: 68px;
    height: 40px;   
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.40);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}


.line3 {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.campo_email, .campo_senha {
    position: relative;
    width: 352px;
    margin-bottom: 32px;
}

.text_email, .text_senha {
    position: absolute;
    left: 0;
    bottom: 13px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.email, .senha {
    background-color: transparent;
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ffffff;
}

.entrar {
    display: inline-block;
    width: 388px;
    height: 56px;
    line-height: 56px; 
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.50);
    text-align: center; 
    text-decoration: none; 
    color: white; 
    cursor: pointer; 
    user-select: none; 
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    border: none; 
  }
  


.ntc {
    display: flex;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.naotc {
    color: #FFF;

    font-feature-settings: 'clig' off, 'liga' off;
    /* Paragrafo */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 4px;
}

.rga {
    display: flex;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.voltar{
    position: absolute;
    bottom: 24px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    
}